@model AuthModel
@{
    ViewData["Title"] = "Auth Page";
}

<div class="text-center">
    <h1 class="display-4">Auth Page</h1>
    @if (!string.IsNullOrEmpty(Model.AccessToken))
    {
        <h1 class="display-6">AccessToken: True</h1>
    }
    else
    {
        <h1 class="display-6">AccessToken: False</h1>
    }   
    <h1 class="display-6">Tokentype: @Model.TokenType</h1>
    <h1 class="display-6">ExpiresIn: @Model.ExpiresIn</h1>   
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Index">Spotify</a></p>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Profile">Profile</a></p>
</div>
