@model AuthModel
@{
    ViewData["Title"] = "Spotify Page";
}

<div class="text-center">
    <h1 class="display-4">Spotify Page</h1>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Auth">Auth</a></p>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Profile">Profile</a></p>
</div>
