@model dynamic
@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Profile Page</h1>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Auth">Spotify</a></p>
    <h1 class="display-6">Country: @Model.country</h1>
    <h1 class="display-6">Display Name: @Model.display_name</h1>
    <h1 class="display-6">Email: @Model.email</h1>
    <h1 class="display-6">User Id: @Model.id</h1>
</div>
