
@{
    ViewData["Title"] = "Profile Page";
}

<div class="text-center">
    <h1 class="display-4">Profile Page</h1>
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Index">Spotify</a></p>
</div>
