@model dynamic
@{
    ViewData["Title"] = "User Playlists";
}

<div class="text-center">
    <p><a class="display-6" asp-area="" asp-controller="Spotify" asp-action="Auth">Spotify</a></p>
    @foreach (var item in Model.items)
    {
        <h1 class="display-4">@item.name</h1>
    }

</div>